.acf-field-zelda [hidden] {
    display: none;
}

.acf-field-zelda .acf-input {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

@media (min-width: 768px) {
    .acf-field-zelda .acf-input {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .acf-field-zelda .acf-input > * {
        flex-grow: 1;
    }
}

.acf-field-zelda .acf-input label {
    display: inline-block;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .acf-field-zelda__typeSelect {
        margin-right: 5px;
    }
}